@import url('https://fonts.googleapis.com/css2?family=Anton&family=Raleway:wght@100&display=swap');
html{
    /* border:1px solid red; */
    width: 350px;
    height: 400px;
}
*{
  /* border:1px solid red;   */
}
body{
    background-color:#021D24 ;
    text-align: center;
    margin: auto;
    width: 350px;
    height: 400px;
    
}
.modal-header{
    padding-top: 1px;
    color: white;
    font-size: 10px;
    margin: auto;
}
.modal-content p{
    font-family: 'Anton', sans-serif; ;
    font-size: 20px;
    padding-left: 20px;
    margin-right: 0px;
    padding-right: 0px;
    padding-bottom:0;
    color: #ff953e;
    margin: 0px;
    margin-bottom: 30px;
    margin-top: 30px;
    /* border:1px solid red; */
} 

.modal-content .second-line{
    font-family: 'Anton', sans-serif; ;
    font-size: 20px;
    margin-bottom: 0px;
    padding-top: 10px;
    position: relative;
    left: 0px;
    color: #ff953e

}
.paragraph{
    height: 0px;
}

div.toggle-btn{
    /* border:1px solid red; */
    position: relative;
    top:50% ;
    left: 44%;
    width: 50px;
    transform:translate(-50%,-50); 
    margin-right: 0px;
    padding-right: 0px;
    top: 0px;
    margin-top: 2px;

}

.toggle-btn label{
    position: relative;
   display: block;
   width: 50px;
   height: 25px;
   background: #aaa;
   border-radius: 30px;
   transition:all 330sms linear ;
   border-color: whitesmoke;
   /* border:1px solid red; */
}

.toggle-btn label:before{
    position: relative;
    content: "";
    width: 20px;
    height: 20px;
    background: #ddd;
    display: block;
    border-radius: 50%;
    top: 2.5px;
    left: 4px;
    /* border:1px solid red; */
    
    transition: all 140ms linear;
}

.toggle-btn input:checked +label{
    background:#00acee ;
    /* border:1px solid red; */
}
.toggle-btn input:checked + label:before{
    left:25px;
    /* border:1px solid red; */
}
.toggle-btn input{
    display: none;
     /* border:1px solid red; */
}

.warning{
    color:rgb(5, 119, 79);
    font-size: 15px;
    position: relative;
    margin: 40px;
    padding-bottom: 30px;
    
 /* border:1px solid red; */
}

#randomThings div{
    color: white;
     /* border:1px solid red; */
}
#randomThings{
    height: 0px;
    margin-top: 10px;
     /* border:1px solid red; */
}
#randomThings div{
    position: relative;
    height: 0px;
    left: 2.5%;
    color: rgb(65, 255, 65);
     /* border:1px solid red; */
     bottom: 1px;
     margin-bottom: 15px;
}